@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* VARIABLES */

:root {
  --main-color: black;
  --text-color: #c8ff9d;
  --family-text: "Bebas Neue", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-color);
}

.bloque1 {
  background-color: var(--text-color);
  position: absolute;
  height: 15px;
  width: 62px;
  animation: lineas 10s;
}

.bloque2 {
  position: absolute;
  top: 920px;
  left: 920px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid 1px var(--text-color);
}

.flecha {
  position: absolute;
  top: 30%;
  left: 38%;
  height: 25px;
  width: 25px;
  border-left: solid 1px var(--text-color);
  border-bottom: solid 1px var(--text-color);
  transform: rotate(-45deg);
}

.line1 {
  background-color: var(--text-color);
  position: absolute;
  top: 500px;
  left: 62px;
  height: 1px;
  width: 800px;
  animation: lineas 3s infinite;
}

.line2 {
  background-color: var(--text-color);
  position: absolute;
  top: 725px;
  left: 62px;
  height: 1px;
  width: 800px;
}

h1 {
  color: var(--text-color);
  font-family: var(--family-text);
  font-size: 455px;
}

.cabezaPrincipal {
  position: absolute;
  left: 62px;
}

h2 {
  color: var(--text-color);
  font-family: var(--family-text);
  font-size: 200px;
}

.cabezaSecundaria {
  position: absolute;
  top: 500px;
  left: 62px;
}

h3 {
  color: white;
  font-family: var(--family-text);
  font-size: 125px;
}

.list {
  position: absolute;
  top: 1200px;
  left: 62px;
}

a {
  font-family: var(--family-text);
  font-size: 40px;
  color: white;
  text-decoration: none;
}

.cabezaTercera {
  position: absolute;
  top: 750px;
  left: 62px;
}

.spinner1:before {
  content: "";
  position: absolute;
  top: -50px;
  left: 400px;
  height: 600px;
  width: 600px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 3px solid hsla(0, 0%, 10%, 1);
  border-top-color: var(--text-color);
  animation: spinner 2s linear infinite; /* name/duration/ease/repetition */
}

.spinner2:before {
  content: "";
  position: absolute;
  top: 950px;
  left: 90px;
  height: 100px;
  width: 100px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 3px solid hsla(0, 0%, 10%, 1);
  border-top-color: var(--text-color);
  animation: spinner 2s linear infinite; /* name/duration/ease/repetition */
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes lineas {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
    transform: translateX(200px);
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(-200px);
  }
}

@media (max-width: 1050px) {
  .cabezaPrincipal {
    top: 50px;
  }

  h1 {
    font-size: 150px;
  }

  .line1 {
    top: 215px;
    width: 400px;
    animation: lineas 5s infinite;
  }

  .cabezaSecundaria {
    top: 230px;
  }

  h2 {
    color: var(--text-color);
    font-family: var(--family-text);
    font-size: 70px;
  }

  .line2 {
    top: 320px;
    width: 400px;
  }

  .cabezaTercera {
    top: 340px;
  }

  h3 {
    font-size: 40px;
  }

  .list {
    top: 800px;
  }

  a {
    font-size: 25px;
  }

  .spinner1:before {
    left: 185px;
  }

  .spinner2:before {
    top: 450px;
    height: 50px;
    width: 50px;
  }

  .bloque2 {
    top: 425px;
    left: 320px;
    height: 50px;
    width: 50px;
  }

  .flecha {
    top: 30%;
    left: 35%;
    height: 15px;
    width: 15px;
  }
}

@media (max-width: 400px) {
  .cabezaPrincipal {
    top: 50px;
  }

  h1 {
    font-size: 100px;
  }

  .line1 {
    top: 170px;
    width: 200px;
    animation: lineas 5s infinite;
  }

  .cabezaSecundaria {
    top: 190px;
  }

  h2 {
    line-height: 0.9;
    font-size: 60px;
  }

  .line2 {
    top: 320px;
    width: 200px;
  }

  .cabezaTercera {
    top: 340px;
  }

  h3 {
    font-size: 40px;
    line-height: 0.9;
  }

  .spinner1:before {
    left: 165px;
  }

  .spinner2:before {
    top: 470px;
  }

  .bloque2 {
    top: 445px;
    left: 200px;
    height: 50px;
    width: 50px;
  }

  .flecha {
    top: 30%;
    left: 35%;
    height: 15px;
    width: 15px;
  }
}
